<section class="management">
    <header class="card">

        <section class="profile">
            <div class="avatar">
                <img src="assets/img/ezgym-logo.svg" />
            </div>
            <div class="profile-info">

                <div class="name-and-progress">
		  <h4>{{ state.activeAccount?.profile?.name }}</h4>
		  <div class="exp-bar">
		  <small class="text-muted">Experiência</small>
		  </div>
      <div class="progress-level" style="--progress: {{state.ui.levelBarPercent}};"> 
        <span>
        {{state.player?.exp}} / {{state.player?.expForNextLevel}}
        </span>
      </div>
                </div>
                <div class="name-level">
                    <div class="level-badge">
                        <img src="assets/img/trophy.svg">
			<small>Level {{state.player?.level}}</small>
                    </div>
                </div>
            </div>

        </section>
    </header>
    <nav class="apps">
        <h4>Aplicativos</h4>
        <ul>
            <li>
                <img src="assets/img/contract.svg" />
                <p>Matriculas</p>
            </li>
            <li>
                <img src="assets/img/gym-plan.svg" />
                <p>Treinos</p>
            </li>
        </ul>
    </nav>
    <nav class="daily-mission">
        <h4>Missão Diaria</h4>
        <ul>
            <li *ngFor="let week of state.ui.weekDays" (click)="switchDay(week.day)"
                [ngClass]="{'active': week.day == state.today}">

                <img *ngIf="week.day == 2 || week.day == 4" src="assets/img/medal_gray.svg">
                <img *ngIf="week.day != 2 && week.day != 4" src="assets/img/medal.svg">
                <p class="day-name">
                    {{week.name}}
                </p>

            </li>
            <ol></ol>
        </ul>
    </nav>

    <section class="goals">
        <h4>
            <small class="text-muted">Realize pelo menos um dos objetivos abaixo para completar a missão diaria</small>
        </h4>

        <ul>
            <li (click)="openCheckIn()" class="card" style="--rotate: 360deg; --color: #57B657">
                <div class="image">

                    <img src="assets/img/checkIn.svg" />
                </div>
                <div class="details">
                    <p>Completar um checkin</p>
                    <small class="text-success">Valide uma entrada em pelo menos uma academia</small>
                    <!-- <small class="text-success">Bom trabalho !</small> -->
                </div>
                <div class="status">
                    <img src="assets/img/checked-success.svg" />
                </div>
            </li>
            <li class="card" style="--rotate: -360deg; ; --color: #ccc">
                <div class="image">
                    <img src="assets/img/fitness-icon.svg" />

                </div>
                <div class="details">
                    <p>Realizar um treino</p>
                    <small class="text-muted">Realize pelo menos um treino da sua ficha</small>
                </div>
                <div class="status">
                    <img src="assets/img/checked-success_gray.svg" />
                </div>
            </li>
        </ul>

    </section>

</section>
<bottom-modal>

  <!--<h1>E aí, bora fazer um checkin?</h1> -->


</bottom-modal>
