@import "variables";

.btn {
  width: 150px;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;

  &-primary {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: $secondary;
    }
  }

  &-secondary {
    background-color: $secondary;
    color: $white;

    &:hover {
      background-color: $primary;
    }
  }
}
