$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;
$screen-xxl: 1600px;

$primary: #845ec2;
$secondary: #00c9a7;
$white: #fff;
$dark-grey: #333;
$font-family: "Poppins", sans-serif;
$color-danger: #f04124;
$color-green: #57B657
