<div class="center">
    <section class="header">
        <button (click)="close()" class="header-btn">Cancelar</button>
        <p class="header-title">Editar Perfil</p>
        <button (click)="saveProfile()" class="header-btn btn-save">Salvar</button>
    </section>
    <div class="line"></div>
    <section class="edit-form">
        <div class="form-group form-group-avatar">

            <div class="profile-bio-image">
                <img [src]="account.avatarUrl" />
            </div>
            <label class="header-btn btn-save">
                Trocar imagem
                <input class="input-upload" type="file" #inputUpload (change)="fileChangeEvent($event)"
                    accept="image/*" />
            </label>

            <div class="crop-component" *ngIf="showPreview">
                <p class="header-title">Ajustar imagem</p>
                <div class="preview-image">
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                        [aspectRatio]="4 / 4" [resizeToWidth]="100" format="png" (imageCropped)="imageCropped($event)"
                        >
                    </image-cropper>
                </div>
                <div class="crop-buttons">
                    <button (click)="close()" class="header-btn">Cancelar</button>
                    <button (click)="changeAvatar()" class="header-btn btn-save">Salvar</button>
                </div>
            </div>
        </div>
        <form class="edit-profile-form" [formGroup]="editProfileForm">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" formControlName="name" class="form-control" placeholder="Nome">
            </div>
            <div class="form-group">
                <label for="job">Profissão ou Ramo de atividade</label>
                <input type="text" formControlName="jobDescription" class="form-control" placeholder="Profissão ou Ramo de atividade">
            </div>
            <div class="form-group">
                <label for="bio">Bio</label>
                <textarea formControlName="bioDescription" type="textarea" class="form-control" rows="2"></textarea>
            </div>
        </form>
    </section>
</div>