@import "variables";


.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-family: $font-family;
    font-size: small;
    padding: 10px;
    align-items: flex-start;
}

.line {
    flex: 1;
    border-top: 1px solid #ccc;
    width: 100%;
}


.form-group-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-upload {
    display: none;
}

.edit-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.header-btn {
    border: none;
    background: none;

    &:hover {
        color: $secondary;
    }
}

.header-title {
    font-weight: bold;
}

.btn-save {
    font-weight: bold;
    color: $primary;
    cursor: pointer;
}

.crop-component {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 10px;
    background: #f1f1f1;
}

.preview-image {
    display: block;
    width: 150px;
}

.crop-buttons {
    display: flex;
    gap: 20px
}

.profile-bio-image {
    width: 75px;
    height: 75px;
    background: $primary;
    overflow: hidden;
    border-radius: 25%;
    -webkit-box-shadow: 5px 5px 2px 1px rgba(238, 238, 238, 0.97);
    box-shadow: 5px 5px 2px 1px rgba(238, 238, 238, 0.97);
    border: #efef;
    background-image: url("/assets/img/default-user-img.png");
    background-size: cover;
}

img {
    display: block;
    height: 100%;
}