@import "variables";


.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-family: $font-family;
    font-size: small;
    padding: 10px;
    align-items: flex-start;
}

.line {
    flex: 1;
    border-top: 1px solid #ccc;
    width: 100%;
}

.header-btn {
    border: none;
    background: none;

    &:hover {
        color: $secondary;
    }
}

::ng-deep {
    .mat-ink-bar {
        background-color: $primary !important;
    }

}

.search-follower-form {
    margin: 10px 0px;
}


ul {
    flex: 1;
    display: flex;
    flex-direction: column;
}

li {
    text-transform: capitalize;

    >:hover {
        background: #fff;
        cursor: pointer;
    }

    .account-item-list {
        padding: 5px 5px;
        flex-direction: row;
        justify-content: left;
        align-items: center;

        p {
            line-height: 5px;
            margin-bottom: 0px;
        }

        &:hover {
            background: #eeeeee;
            border-radius: 5px;
        }
    }

    .account-item-description {
        margin-top: 10px;
    }
}

.membership-options {
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    .selected {
        background: $primary;
        color: $white  !important;

        .text-muted {
            color: $white  !important;
        }

        .material-icons {
            color: $white  !important;
        }
    }

    .option {
        margin-bottom: 10px;
        border: 2px solid $primary;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        color: $primary;
        cursor: pointer;

        .icon {
            margin-top: 10px;

            .material-icons {
                font-size: 27px;
                color: $primary;
            }
        }

        h5 {
            margin: 0px;
        }

        &:hover {
            @extend .selected
        }
    }

    .membership-content {
        display: flex;
        flex-direction: row;
        .membership-image {
            width: 72px;
            height: 75px;
            margin-right: 10px;
            background: $primary;
            overflow: hidden;
            border-radius: 25%;
            -webkit-box-shadow: 5px 5px 2px 1px rgba(238, 238, 238, 0.97);
            box-shadow: 5px 5px 2px 1px rgba(238, 238, 238, 0.97);
            border: #efef;
            background-image: #fff;
            background-image: url("/assets/img/default-user-img.png");
            background-size: cover;
        
            img {
                display: block;
                height: 100%;
            }
        }

        .membership-profile-information {
            margin: 10px;
        }
    }
}

.step-header {
    margin-top: 25px;
    margin-bottom: 25px;
    width: fit-content;
    line-height: 25px;
    display: block;
    color: $primary;
    border-bottom: 2px dotted #ccc;
}