@import "variables";

:host {
    display: flex;
    justify-content: center;
    font-family: $font-family;
    padding: 0px 10px;
}

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profile-component {
    justify-content: center;
    max-width: $screen-md;
    flex-direction: column;
    flex: 1;
    padding: 0px 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    font-family: $font-family;

    .profile-body {
        padding: 10px 15px;
    }

    .profile-footer {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: flex-end;

        .btn-follow {
            border: none;
            background: $primary;
            color: $white;
            padding: 5px 20px;
            border-radius: 10px;
            font-size: small;
            -webkit-box-shadow: 5px 5px 2px 1px rgba(238, 238, 238, 0.97);
            box-shadow: 5px 5px 2px 1px rgba(238, 238, 238, 0.97);
            border: #efef;
            height: 30px;

            &:hover {
                background: $secondary;
            }

        }

        .unfollow {
            background: #cccc;


            &:hover {
                background: $color-danger;
            }

        }

        .profile-buttons {
            display: flex;
            gap: 5px;
            justify-content: end;
        }
    }

    .btn-link {
        color: $primary  !important;
        font-size: small !important;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: $secondary  !important;
        }
    }

    .profile-counts {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: left;
        padding-top: 10px;

        p {
            font-size: 12px;
        }

        h3 {
            font-size: 20px;
        }

        >.profile-header-info {
            display: flex;
            margin-right: 20px;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }
    }

    .profile-info {
        display: flex;
        flex-direction: row;
        align-items: center;

        .profile-description {
            flex: 1;
        }

        h3 {
            margin-bottom: 0px;
        }

        .bio-description {
            padding: 5px;
        }

        .profile-bio-image {
            width: 75px;
            height: 75px;
            margin-right: 10px;
            background: $primary;
            overflow: hidden;
            border-radius: 25%;
            -webkit-box-shadow: 5px 5px 2px 1px rgba(238, 238, 238, 0.97);
            box-shadow: 5px 5px 2px 1px rgba(238, 238, 238, 0.97);
            border: #efef;
            background-image: #fff;
            background-image: url("/assets/img/default-user-img.png");
            background-size: cover;

            img {
                display: block;
                height: 100%;
            }
        }
    }
}

.user-type-label {
    color: #cdcdcd !important;
    margin-bottom: 10px;
}