@import "variables";

:host {
    display: flex;
    justify-content: center;
    font-family: $font-family;
}

.profile-component {
    justify-content: center;
    max-width: 935px;
    flex-direction: column;
    flex: 1;
    padding: 0px 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    font-family: $font-family;

    .profile-footer {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: end;

        .btn-follow {
            border: none;
            background: $primary;
            color: $white;
            padding: 15px 20px;
            border-radius: 15px;
            font-size: small;
            -webkit-box-shadow: 5px 5px 2px 1px rgba(238, 238, 238, 0.97);
            box-shadow: 5px 5px 2px 1px rgba(238, 238, 238, 0.97);
            border: #efef;
            height: 50px;

            &:hover {
                background: $secondary;
            }

        }

        .unfollow {
            background: #cccc;
            width: 100px;
            padding: 10px 15px;

            &:hover {
                background: $color-danger;
            }

        }

        .profile-buttons {
            display: flex;
            gap: 5px;
            flex: 1;
            justify-content: end;
        }
    }

    .btn-link {
        color: $primary  !important;
        font-size: small !important;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: $secondary  !important;
        }
    }

    .profile-counts {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: left;
        gap: 25px;
        padding-top: 10px;

        >.profile-header-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }
    }

    .profile-info {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        .profile-description {
            flex: 1;
        }

        h3 {
            margin-bottom: 0px;
        }

        .bio-description {
            padding: 5px;
        }

        .profile-bio-image {
            width: 100px;
            height: 100px;
            background: $primary;
            overflow: hidden;
            border-radius: 25%;
            -webkit-box-shadow: 5px 5px 2px 1px rgba(238, 238, 238, 0.97);
            box-shadow: 5px 5px 2px 1px rgba(238, 238, 238, 0.97);
            border: #efef;
            background-image: url("/assets/img/default-user-img.png");
            background-size: cover;
        }
    }
}

.user-type-label {
    color: #cdcdcd !important;
    margin-bottom: 10px;
}