<div class="center">
    <section class="header">
        <button (click)="close()" class="header-btn">Voltar</button>
    </section>
    <section class="register-header">
        <img src="assets/img/fill-forms.svg">
        <h3>
            Matricular-se
        </h3>
    </section>

    <section class="register-step">
        <mat-horizontal-stepper [linear]="false" #stepper="matHorizontalStepper">
            <mat-step>
                <ng-template matStepLabel>
                    Plano
                </ng-template>

                <h5 class="step-header">
                    Selecione um plano
                </h5>

                <blockquote *ngIf="!state.plans.length" class="blockquote">
                    <p class="mb-0">Essa academia ainda nao possui nenhum plano disponivel, tenta novamente mais
                        tarde</p>
                </blockquote>
                <section class="plan-options">
                    <div *ngFor="let plan of state.plans" (click)="planSelected(plan.value.id)"
                        [ngClass]="{'selected': plan.selected }" class="option">
                        <div class="icon">
                            <i *ngIf="plan.selected" class="material-icons">radio_button_checked</i>
                            <i *ngIf="!plan.selected" class="material-icons">radio_button_unchecked</i>
                        </div>
                        <div class="plan-description">
                            <h5>
                                Valor R$ {{plan.value.amount}}
                            </h5>
                            <small class="text-muted">
                                Valido por {{plan.value.days}} dias
                            </small>

                        </div>
                    </div>
                </section>

                <section *ngIf="state.plans.length" class="register-btn">
                    <button [disabled]="!state.ui?.planSelected" mat-button matStepperNext>Continuar</button>
                </section>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Pagamento</ng-template>

                <h5 class="step-header">
                    Forma de pagamento
                </h5>
                <section class="plan-options">
                    <div *ngFor="let paymentMethod of state.paymentMethods" (click)="paymentSelected(paymentMethod.value)"
                        [ngClass]="{'selected': paymentMethod.selected }" class="option ">
                        <div class="icon">
                            <i *ngIf="paymentMethod.selected" class="material-icons">radio_button_checked</i>
                            <i *ngIf="!paymentMethod.selected" class="material-icons">radio_button_unchecked</i>
                        </div>
                        <div class="plan-description">
                            <h5>
                                {{paymentMethod.name}}
                            </h5>
                            <small class="text-muted">
                                {{paymentMethod.description}}
                            </small>

                        </div>
                    </div>
                </section>
                <section class="register-btn">
                    <button [disabled]="!state.ui?.paymentSelected" mat-button matStepperNext>Continuar</button>
                    <button class="btn-back" mat-button matStepperPrevious>Voltar</button>
                </section>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Revisar</ng-template>
                <div class="review-item">
                    <h5 class="step-header">
                        Informacoes da academia
                    </h5>
                    <p>
                        <span class="font-weight-bold">Codigo da academia</span>
                        {{state.gym.id}}
                    </p>
                </div>
                <div class="review-item">
                    <h5 class="step-header">
                        Informacoes do plano
                    </h5>
                    <p>
                        <span class="font-weight-bold">Validate do plano</span>
                        {{state.ui?.planSelected?.days}} / Dias
                    </p>
                    <p>
                        <span class="font-weight-bold">Valor do plano</span>
                        {{state.ui?.planSelected?.amount}} R$
                    </p>
                </div>
                <div class="review-item">
                    <h5 class="step-header">
                        Informacoes do pagamento
                    </h5>
                    <p>
                        <span class="font-weight-bold">Forma de pagamento</span>
                        {{state.ui?.paymentSelected?.name }}
                    </p>
                    <p>
                        <span class="font-weight-bold">Valor do plano</span>
                        {{state.ui?.planSelected?.amount }} R$
                    </p>

                </div>
                <hr />
                <small class="text-muted">*O Plano so passa a ser valido apos a confirmacao do pagamento</small>
                <section class="register-btn">
                    <button (click)="confirmRegister()" mat-button matStepperNext>Confirmar</button>
                    <button class="btn-back" mat-button matStepperPrevious>Voltar</button>
                </section>
            </mat-step>
        </mat-horizontal-stepper>
    </section>
</div>