<section class="row gym-management">
    <div class="card">
        <header class="header">
            <div class="ezgym-logo">
                <img src="assets/img/ezgym-logo.svg" />
            </div>
            <div class="gym-counts">
                <div class="gym-header-info">
                    <p class="text-muted">Alunos</p>
                    <h3 class="text-muted fs-30 font-weight-medium">300</h3>
                </div>
                <div class="gym-header-info">
                    <p class="text-muted">Em dia</p>
                    <h3 class="text-primary fs-30 font-weight-medium">100</h3>
                </div>
                <div class="gym-header-info">
                    <p class="text-muted">Atrasados</p>
                    <h3 class="text-warning fs-30 font-weight-medium">200</h3>
                </div>
            </div>
        </header>
        <section>
            <div class="account-balance">
                <div class="balance-info">
                    <p>500,00 R$</p>
                    <button>Ver extrato</button>
                </div>
                <button class="btn-toggle">
                    <!-- <i class="fa-solid fa-eye toggle-icon "></i> -->
                    <i class="fa-solid fa-eye-low-vision toggle-icon"></i>
                </button>
            </div>
        </section>
    </div>
    <div class="account-apps">
        <div clas="center">
            <h4 class="text-primary">Gerenciar</h4>
            <hr>
        </div>

        <div class="account-menu-options">

            <div class="menu-option">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-address-card"></i>
                </div>
                <label>Alunos</label>
            </div>
            <div class="menu-option">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-file-invoice"></i>
                </div>
                <label>Planos</label>
            </div>
            <div class="menu-option">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-piggy-bank"></i>
                </div>
                <label>Carteira</label>
            </div>
        </div>

        <div clas="center">
            <h4 class="text-primary">Validar entradas</h4>
            <hr>
        </div>
    </div>


</section>