@import "variables";

:host {
    display: flex;
    justify-content: center;
    font-family: $font-family  !important;
    padding: 0px 10px;
}

.gym-management {
    padding: 0px 10px;
    flex-direction: column;
    flex: 1;
    max-width: $screen-md
}

.card {
    padding: 20px;
}

.header {
    flex: 1;
    height: 300px;
    background: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .ezgym-logo {
        height: 35px;

        img {
            height: 100%;
            display: block;
        }
    }

    .gym-counts {
        display: flex;
        flex-direction: row;
        justify-content: right;

        .gym-header-info {
            border-right: 1px solid #eee;
            padding-right: 10px;
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 12px;
            }

            h3 {
                font-size: 20px;
            }
        }
    }
}

.account-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .account-configuration {
        button {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.btn-toggle {
    background: none;
    border: none;
    margin-left: 10px;

    .btn-icon {
        color: $primary;
        font-size: x-large;
    }

    &:hover {
        .btn-icon {
            color: $secondary;
        }
    }

}

.account-balance {
    display: flex;
    justify-content: left;
    margin-top: 30px;
    gap: 20px;


    .balance-info {
        display: flex;
        flex-direction: column;
        justify-content: left;

        .balance-hidden {
            height: 30px;
            background: rgb(241, 241, 241);
        }

        p {
            color: $dark-grey;
            font-size: x-large;
        }

        button {
            border: none;
            color: $primary;
            font-weight: bold;
            text-align: left;
            background: none;

            &:hover {
                color: $secondary
            }
        }

    }


}

h4 {
    margin-left: 20px;
    margin-top: 20px;
    color: $dark-grey  !important;
}
.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.account-menu-options {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    background: $white;
    padding: 10px;
    border-radius: 20px;

    .menu-option {
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 100px;
        box-shadow:
            inset 0 -3em 3em rgba(0, 0, 0, 0.1),
            0 0 0 2px rgb(255, 255, 255),
            0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

        border: 1px solid #ccc;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;


        .icon-wrapper {
            i {
                color: $primary;
                font-size: 40px;
            }
        }

        label {
            font-family: $font-family;
            font-size: 12px;
            color: $primary;
            cursor: pointer;
        }

        &:hover {
            label {
                color: $secondary;
            }

            i {
                color: $secondary  !important;
            }
        }
    }
}

.checkins {

    background: #fff;
    .buttons {
        align-self: center;
        display: flex;
        flex-direction: row;
    }

    .btn-validate {
        border: none;
        background: $secondary;
        color: $white;
        padding: 5px 30px;
        margin-right: 5px;
        height: 35px;
        align-self: center;
        border-radius: 20px;
        line-height: 10px;

        &.btn-remove {
            padding: 5px 15px;
            background: #ccc;

            &:hover {
                background: $color-danger;

            }
        }


        &:hover {
            cursor: pointer;
            background: $primary;
        }
    }

    ul {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    li {
        text-transform: capitalize;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;

        .account-item-list {
            padding: 5px 5px;
            flex-direction: row;
            align-items: center;

            p {
                line-height: 5px;
                margin-bottom: 0px;
            }

        }



        .account-item-description {
            margin-top: 10px;
        }
    }
}

::ng-deep {
    .mat-ink-bar {
        background-color: $primary  !important;
    }

    .mat-tab-label {
        justify-content: left !important;
        color: $primary  !important;
        font-family: $font-family  !important;
        font-weight: bold;
        padding: 20px !important;
    }

}