<section class="row gym-management">
    <div class="card">
        <header class="header">
            <div class="ezgym-logo">
                <img src="assets/img/ezgym-logo.svg" />
            </div>
            <div class="gym-counts">
                <div class="gym-header-info">
                    <p class="text-muted">Alunos</p>
                    <h3 class="text-muted fs-20 font-weight-medium">300</h3>
                </div>
                <div class="gym-header-info">
                    <p class="text-muted">Em dia</p>
                    <h3 class="text-primary fs-20 font-weight-medium">100</h3>
                </div>
                <div class="gym-header-info">
                    <p class="text-muted">Atrasados</p>
                    <h3 class="text-warning fs-20 font-weight-medium">200</h3>
                </div>
            </div>
        </header>
        <section class="account-info">
            <div class="account-balance">
                <div class="balance-info">
                    <!-- <div class="balance-hidden"> </div> -->
                    <p>{{state.wallet?.statement?.balance | currency : 'BRL'}}</p>
                    <button (click)="openWalletStatement()">Ver extrato</button>
                </div>
                <button class="btn-toggle">
                    <!-- <i class="fa-solid fa-eye toggle-icon "></i> -->
                    <i class="fa-solid fa-eye-low-vision btn-icon"></i>
                </button>
            </div>
            <div class="account-configuration">
                <button class="btn-toggle" (click)="openWallet()">
                    <i class="fa-solid fa-wallet btn-icon"></i>
                    <small class="text-muted">Configurar</small>
                </button>

            </div>
        </section>
    </div>
    <nav class="account-menu-apps">
        <h4>Aplicativos</h4>
        <ul>
            <li (click)="openPlans()">
                <img src="assets/img/contract.svg" />
                <p>Planos</p>
            </li>
            <li>
                <img src="assets/img/gym-plan.svg" />
                <p>Treinos</p>
            </li>
        </ul>
    </nav>


    <div class="checkins">
        <h4>Entradas</h4>
        <div class="card">
            <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
                <mat-tab label="Validar" class="tab-label">
                    <div class="center">
                        <ul class="icon-data-list">
                            <li *ngFor="let account of state.checkinsToValidate">
                                <div class="d-flex account-item-list">
                                    <img [src]="account?.avatarUrl || '/assets/img/default-user-img.png'" alt="user">
                                    <div class="account-item-description">
                                        <p class="text-primary font-weight-bold">{{account.accountName}}</p>
                                        <small>{{account.accountType == 1 ? 'Usuario' : 'Academia'}} </small>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <button class="btn-validate">Validar</button>
                                    <button class="btn-validate btn-remove">X</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </mat-tab>
                <mat-tab label="Validados">
                    <div class="center">
                        <ul class="icon-data-list">
                            <li *ngFor="let account of state.checkinsValidated">
                                <div class="d-flex account-item-list">
                                    <img [src]="account?.avatarUrl || '/assets/img/default-user-img.png'" alt="user">
                                    <div class="account-item-description">
                                        <p class="text-primary font-weight-bold">{{account.accountName}}</p>
                                        <small>{{account.accountType == 1 ? 'Usuario' : 'Academia'}} </small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>


</section>