@import "variables";

.gym-management {
    padding: 0px 10px;
    flex-direction: column;
    font-family: $font-family;
}

.card {
    padding: 20px;
}

.header {
    flex: 1;
    height: 300px;
    background: $white;
    display: flex;
    flex-direction: row;
    justify-content: left;

    .ezgym-logo {
        height: 35px;

        img {
            height: 100%;
            display: block;
        }
    }

    .gym-counts {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: right;
        gap: 20px;
    }
}

.account-balance {
    display: flex;
    justify-content: left;
    margin-top: 30px;
    gap: 20px;


    .balance-info {
        display: flex;
        flex-direction: column;
        justify-content: left;

        .balance-hidden {
            height: 30px;
            background: rgb(241, 241, 241);
        }

        p {
            color: $dark-grey;
            font-size: x-large;
        }

        button {
            border: none;
            color: $primary;
            font-weight: bold;
            text-align: left;
            background: none;

            &:hover {
                color: $secondary
            }
        }

    }


    .btn-toggle {
        background: none;
        border: none;

        .toggle-icon {
            color: $primary;
            font-size: x-large;
        }

        &:hover {
            .toggle-icon {
                color: $secondary;
            }

            ;
        }

    }
}


.account-apps {
    padding: 20px;
}

.account-menu-options {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-bottom: 20px;

    .menu-option {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 100px;
        padding-top: 10px;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;


        .icon-wrapper {
            i {
                color: $primary;
                font-size: 40px;
            }
        }

        label {
            font-family: $font-family;
            font-size: 12px;
            color: $primary;
            cursor: pointer;
        }

        &:hover {
            label {
                color: $secondary;
            }

            i {
                color: $secondary  !important;
            }
        }
    }
}

.checkins {

    .buttons {
        align-self: center;
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .btn-validate {
        border: none;
        background: $secondary;
        color: $white;
        padding: 5px 30px;
        height: 35px;
        align-self: center;
        border-radius: 20px;
        line-height: 10px;

        &.btn-remove {
            padding: 5px 15px;
            background: #ccc;

            &:hover {
                background: $color-danger;

            }
        }


        &:hover {
            cursor: pointer;
            background: $primary;
        }
    }

    ul {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    li {
        text-transform: capitalize;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;

        .account-item-list {
            padding: 5px 5px;
            flex-direction: row;
            align-items: center;

            p {
                line-height: 5px;
                margin-bottom: 0px;
            }

        }



        .account-item-description {
            margin-top: 10px;
        }
    }
}

::ng-deep {
    .mat-ink-bar {
        background-color: $primary  !important;
    }

    .mat-tab-label {
        justify-content: left !important;
        color: $primary  !important;
        font-family: $font-family  !important;
        font-weight: bold;
        padding: 0px !important;
    }

}