@import 'variables';

.bottom-modal {
  position: fixed;
  height: calc(50vh);
  background: $white;
  z-index: 99;
  width: 100%;
  bottom: calc(-50vh);
  margin: 0 auto;
  animation: slide-modal 500ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slide-modal {
  0% {
    bottom: calc(-50vh);
  }
  100% {
    bottom: 0px;
  }
	
}

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
