<div class="gym-profile">
    <div clas="center">
        <h4 class="text-primary">Como podemos ajudar ?</h4>
        <hr>
    </div>

    <div class="account-menu-options" >
        <div class="menu-option" (click)="registerNewMemberShip()">
            <div class="icon-wrapper">
                <i class="fa-solid fa-address-card"></i>
            </div>
            <label>Matricular</label>
        </div>
        <!-- <div class="menu-option">
            <div class="icon-wrapper">
                <i class="fa-solid fa-money-bill-1"></i>
            </div>
            <label>Diaria</label>
        </div>
        <div class="menu-option">
            <div class="icon-wrapper">
                <i class="fa-solid fa-gift"></i>
            </div>
            <label>Presentear</label>
        </div> -->
    </div>


</div>