 <div class="gym-profile" >
        <div clas="center">
            <h4 class="text-primary">Como podemos ajudar ?</h4>
            <hr>
        </div>

        <div class="account-menu-options" (click)="registerNewMemberShip()">
            <div class="menu-option">
                <div class="image-wrapper">
                    <img src="assets/img/fill-forms.svg" />
                </div>
                <label>Matricular-se</label>
            </div>
            <div class="menu-option">
                <div class="image-wrapper">
                    <img src="assets/img/transfer.svg" />
                </div>
                <label>Pagar diaria</label>
            </div>
            <div class="menu-option">
                <div class="image-wrapper">
                    <img src="assets/img/gift.svg" />
                </div>
                <label>Presentear</label>
            </div>
        </div>

    </div>