<div class="row profile-component">
    <section class="profile-header">
        <div class="profile-bio-image">
            <img [src]="state.account.avatarUrl" />
        </div>
        <div class="profile-bio-info">
            <h1 class="display-3">{{state.account.accountName}}</h1>
            <button type="button" *ngIf="!state.ui.isOwner && !state.ui.isFollowing"
                (click)="followAccount(state.account.id)"
                class="btn btn-secondary btn-lg btn-block btn-follow">Seguir</button>
            <button type="button" *ngIf="!state.ui.isOwner && state.ui.isFollowing"
                (click)="unfollowAccount(state.account.id)" class="btn btn-danger btn-lg btn-block btn-follow">Deixar de
                seguir</button>
            <button type="button" *ngIf="state.ui.isOwner" (click)="editProfile()"
                class="btn btn-primary btn-lg btn-block btn-follow">Editar perfil</button>
        </div>
    </section>
    <div class="profile-description">
        <h5>
            {{state.account.profile?.name}}<br />
            <p class="text-muted"> {{state.account.profile?.jobDescription}} </p>
        </h5>
        <p>
            {{state.account.profile?.bioDescription}}
        </p>
    </div>
    <div class="profile-counts">
        <div class="profile-header-info">
            <h3 class="text-primary fs-30 font-weight-medium">0</h3>
            <p class="text-muted">Treinos</p>
        </div>
        <div class="profile-header-info">
            <h3 class="text-primary fs-30 font-weight-medium">{{state.account.followersCount}}</h3>
            <p class="text-muted">Seguidores</p>
        </div>
        <div class="profile-header-info">
            <h3 class="text-primary fs-30 font-weight-medium">{{state.account.followingCount}}</h3>
            <p class="text-muted">Seguindo</p>
        </div>

    </div>
    <div class="gym-profile" *ngIf="state?.account?.accountType == 2">
        <div class="account-menu-options">
            <div class="menu-option">
                <div class="image-wrapper">
                    <img src="assets/img/fill-forms.svg" />
                </div>
                <label>Matricular-se</label>
            </div>
            <div class="menu-option">
                <div class="image-wrapper">
                    <img src="assets/img/transfer.svg" />
                </div>
                <label>Pagar diaria</label>
            </div>
            <div class="menu-option">
                <div class="image-wrapper">
                    <img src="assets/img/gift.svg" />
                </div>
                <label>Presentear</label>
            </div>
        </div>

    </div>
</div>