<div class="row profile-component">
    <section class="profile-header">
        <div class="profile-bio-image">
            <img [src]="state?.account?.avatarUrl" />
        </div>
        <div class="profile-bio-info">
            <h1 class="display-3">{{state?.account?.accountName}}</h1>
            <button type="button" *ngIf="!state?.ui?.isOwner"
                class="btn btn-secondary btn-lg btn-block btn-follow">Seguir</button>
            <button type="button" *ngIf="state?.ui?.isOwner" (click)="editProfile()"
                class="btn btn-primary btn-lg btn-block btn-follow">Editar perfil</button>
        </div>
    </section>
    <div class="profile-description">
        <h5>
            {{state?.profile?.name}}<br />
            <p class="text-muted"> {{state?.profile?.jobDescription}} </p>
        </h5>
        <p>
            {{state?.profile?.bioDescription}}
        </p>
    </div>
    <div class="profile-counts">
        <div class="profile-header-info">
            <h3 class="text-primary fs-30 font-weight-medium">34</h3>
            <p class="text-muted">Treinos</p>
        </div>
        <div class="profile-header-info">
            <h3 class="text-primary fs-30 font-weight-medium">15</h3>
            <p class="text-muted">Seguidores</p>
        </div>
        <div class="profile-header-info">
            <h3 class="text-primary fs-30 font-weight-medium">35</h3>
            <p class="text-muted">Seguindo</p>
        </div>

    </div>
</div>