<div class="center">
    <section class="header">
        <button (click)="close()" class="header-btn">Fechar</button>
        <div></div>
        <button (click)="saveChanges()" class="header-btn btn-save">Salvar</button>

    </section>
    <section class="image-header">
        <img src="assets/img/vault.svg">
        <h3>
            Gerenciar Carteria
        </h3>
    </section>

    <section class="pix-management">
        <h5 class="text-section">
            Minha chave PIX
        </h5>
        <small class="text-muted">Chave que voce ira usar para resgatar seus pagamentos</small>
        <form class="edit-profile-form" [formGroup]="pixFormGroup">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{{state.ui.keyTypeSelected?.key || "TIPO DA CHAVE"}}</button>
                    <div class="dropdown-menu">
                        <a *ngFor="let option of state.ui.keyTypeOptions" (click)="keyTypeChanged(option.value!)" class="dropdown-item pointer">{{option.key}}</a>
                    </div>
                </div>
                <input type="text" class="form-control" formControlName="value" aria-label="Text input with dropdown button">
            </div>

        </form>
    </section>


</div>